<div id="leftRegion">
    <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px;">
        <select ng-model="searchKey" class="form-control input-sm" ng-options="option.value as option.name for option in searchConitions"></select>
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" ng-model="searchVal" ng-trim="true" style="width: 148px;" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="onSearch()">查询<i class="fa fa-search fa-fw"></i></button>
            </span>
        </div>
    </div>
    <bom-tree username="{{username}}" hints="searchResultIdHints" targets="searchResultIds" scroll-to-node-id="{{selectedItem.Id}}" on-select-node="onSelectTreeNode(id)"></bom-tree>
</div>
<collapse-bar is-open="resultBarIsOpen">
    <div class="list-group">
        <a class="list-group-item result-item" ng-repeat="item in searchResult" ng-click="onSelectItem(item)" ng-class="isActived(item)">
            <p class="list-group-item-heading">
                <span>[{{$index}}]</span> {{item.ItemCode}}
            </p>
            <div class="list-group-item-text">
                国内码：{{item.HomCode}}
            </div>
            <div class="list-group-item-text">
                公司码：{{item.CompCode}}
            </div>
            <div class="list-group-item-text">
                零件名：{{item.PartName}}
            </div>
            <div class="list-group-item-text">
                <span class="label label-hint" ng-repeat="hint in item.ItemCodeHint">{{hint}}</span>
            </div>
        </a>
    </div>
</collapse-bar>
<div id="rightRegion">
    <div class="col-md-12">
        adsfasdf:{{resultBarIsOpen}}
    </div>
</div>
